{% extends 'base.html' %}
{% load static %}


{% block content %}








<h1>{{publicationCategoryName}}</h1>
{% if PublicationCategory %}

<ul class="list-group">{% for post in PublicationCategory %}
	<a href="{% url 'publication' post.id %}" class="list-group-item list-group-item-action list-group-item-primary">
		<li style="text-align: center; text-transform: uppercase; list-style:none;" >{{post.PublicationCategoryName}}</li></a>

		
{% endfor %}
</ul>
{% else %}
<p>No category are available.</p>
{% endif %}

<a href="../" class="list-group-item list-group-item-action list-group-item-primary" style="text-align:center; background-color: lightgreen">Powrót na stronę główną</a>
{% endblock %}
 