{% extends 'base.html' %}
{% load static %}


{% block content %}



<h1>{{publicationName}}</h1>
<h2 class="list-group-item"style="text-align:center; text-transform: uppercase;
font-size:40px;">{{Kategoria}}</h2>
{% if Publication %}
<ul class="list-group">{% for post in Publication %}
	<li class="list-group-item list-group-item-action list-group-item-primary" style="text-align: center;">{{post.publicationName}}</li>



		
{% endfor %}
</ul>
{% else %}
<p>No category are available.</p>
{% endif %}


<a href="." class="list-group-item list-group-item-action list-group-item-primary" style="text-align:center; background-color: lightgreen">Powrót do wyboru kategorii</a></p>
<a href="../" class="list-group-item list-group-item-action list-group-item-primary" style="text-align:center; background-color: lightgreen">Powrót do strony głównej</a></p>


{% endblock %}


