{% extends 'publicationview30890/base.html' %}
{% load static %}


{% block content %}
<h3>Strony</h3>
<li><a href="../pubssearch/">Wyszukiwanie</li></a>
<li><a href="../pubcatview/">Kategorie</li></a>
<li><a href="../detail/">Detail</li></a>
<li><a href="../pubsreview/">Oceń</li></a>
<li><a href="../pubcategoryview30890/">Kategorie > Publikacje</li></a>
<li><a href="../categorydisplay30991/">Publikacje > Kategorie</li></a>



<h3>{{publicationName}}</h3>

<ul>{% for post in Publication%}</ul>
	<li>{{post.publicationName}}</li>



{% endfor %}

</ul>
{% endblock %}
 

